*{
    margin: 0;
    padding: 0;
}
.full-websit{
    max-width: 1024px;
    margin: 0 auto;
}

.header-img {
    background-color: #2e219a;
    text-align: center;
}
img {
    height: 44px;
    padding: 13px;
}

.header-menu{
    background-color: red;
    text-align: center;
}
.header-menu ul{
    list-style: none;
}
.header-menu ul li{
    display: inline-block;
    padding: 10px 0;
}
.header-menu ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 20px;
    color: aliceblue;
    font-size: 20px;
    border-right: 1px solid rgb(243, 239, 239);
}
.header-menu ul li:last-child a{
    border-right: none;
}
.slider-section{
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 100px 0;
    background-image: url("https://i.ibb.co/nwNrbgd/pngtree-simple-creative-background-design-in-the-sky-backgroundcartoonlovelyplanetstarry-skyillustra.jpg");
}
.slider-section h1 {
    display: inline-block;
    padding: 23px;
}
.slider-section p {
    width: 95%;
    margin: auto;
}
.slider-section a {
    display: inline-block;
    padding: 11px 35px;
    background-color: #008000;
    color: #fff;
    text-decoration: none;
    margin-top: 18px;
    font-size: 16px;
}


.slider-section-02{
    background-image: url("https://i.ibb.co/R29Gydj/pngtree-modern-double-color-futuristic-neon-background-image-351866.jpg");
    color: #fff;
    text-align: center;
    background-size: cover;
    padding: 100px 0;
}
.slider-section-02 h1 {
    background-color: #008000;
    padding: 12px;
    margin-bottom: 34px;
}
.slider-section-02 p{ 
    width: 60%;
    margin: auto;
    background-color: yellow;
    color: #000;
}
.slider-section-02 a {
    display: inline-block;
    padding: 9px 27px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    margin-top: 18px;
    font-size: 16px;
}
.banrr-section{
    height: 500px;
    background-color: #4ab75c;
}
.bottom-menu{
 background-color: #2c1a8e;
 text-align: center;
}
.bottom-menu ul{
    list-style: none;
}
.bottom-menu ul li{
    display: inline-block;
    padding: 20px 0;
}
.bottom-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid;
    padding: 8px 12px;
    border-radius: 13px;
}